.modal-bs4__body{
    border-radius: 12px;
}
.modal-bs4__content{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 12px;
    outline: 0;
}
.modal-bs4__close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    z-index: 10;
    border: none;
    background: none;
}