.card{
    border: none !important;
}
.card__tabs {
    position: relative;
}
.card__tab, .card__tab-title {
display: inline-block;
}
.card__tab input[type="radio"] {
     display: none; 
    }
.card__tab-title {
    cursor: pointer;
    background:none;
    padding: 12px 18px;
    margin: 0;
    border-bottom: none;
}
.card__tab-content {
    position: absolute;
    border-top: 1px solid #666;
    padding: 10px;
    left: 0;
    width: calc(100% - 20px);
    display: none;
}
.card__tab :checked + .card__tab-title {
    position: relative;
    background: #4292BC;
    color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}
.card__tab :checked ~ .card__tab-content {
    display: block;
}
.card__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 15px;
}
.img-body{
    height: 300px;
    margin: 0 0 15px 0;
}
.card__img{
    margin: 0 auto;
    height: 100%;
    max-width: 700px;
    border-radius: 10px;
}
@media screen and (min-width:992px){
    .card__img{
        height: 500px;
    }
    .img-body{
        height: 500px;
    }
}
.card__directory{
    width: 240px;
}